apiVersion: v1
kind: Service
metadata:
  name: msa-frontend
  labels:
    app: msa-frontend
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
  selector:
    app: msa-frontend
